// ---------------------------------------------------------------------------------
// _anchor.scss
// ---------------------------------------------------------------------------------

// Anchor
//  ├─ Base state
//  ├─ Active state
//  ├─ Hovered state
//  └─ Focused state

@use 'sass:math';
@use '../dependencies/variable' as *;
@use '../dependencies/function';
@use '../dependencies/mixin';




// ---------------------------------------------------------------------------------
// Anchor
// ---------------------------------------------------------------------------------

// Base state ----------------------------------------------------------------------

.anchor {
	border-radius: 1px;
	display: inline-block;
	isolation: isolate;
	position: relative;
	text-decoration: 1px underline;
	transition:
		color 225ms ease-in-out 125ms,
		text-decoration-color 225ms ease-in-out 125ms;

	// Increase the clickable area of the anchor element itself.
	&::after {
		@include mixin.size(100%);
		border: #{4 * math.div(1, function.strip-unit($font-size--body))}em solid transparent;
		content: "";
		display: block;
		left: -#{4 * math.div(1, function.strip-unit($font-size--body))}em;
		opacity: 0;
		position: absolute;
		top: -#{4 * math.div(1, function.strip-unit($font-size--body))}em;
		z-index: -1;
	}
}


// Active state --------------------------------------------------------------------

// Underline
.anchor[aria-current="page"] {
	color: $color--tango;
	text-decoration-color: $color--tango;
}


// Hovered state -------------------------------------------------------------------

.anchor {
	&.is-hovered,
	&:hover {
		color: $color--tango;
		transition-delay: 10ms;
	}

	// Hovering over an active link
	&[aria-current="page"] {
		&.is-hovered,
		&:hover {
			text-decoration-color: transparent;
		}
	}
}


// Focused state -------------------------------------------------------------------

.anchor:focus {
	text-decoration: transparent;
}

@supports selector(:focus-visible) {
	.anchor:focus {
		text-decoration: underline;
	}

	.anchor:focus-visible {
		text-decoration: transparent;
	}
}
