//  --------------------------------------------------------------------------------
//  _variable.scss
//  --------------------------------------------------------------------------------

//  Colors
//  Typography
//   └─ Sizes
//  Layout
//   ├─ Breakpoints
//   ├─ Span sizes
//   └─ Z-index





//  --------------------------------------------------------------------------------
//  Colors
//  --------------------------------------------------------------------------------

	$color--scorpion:       hsb(0, 0, 37.5);
	$color--alto:           hsb(0, 0, 85);
	$color--tango:          hsb(24, 90, 95);
	$color--wild-sand:      hsb(0, 0, 96);
	$color--alabaster:      hsb(0, 0, 99);





//  --------------------------------------------------------------------------------
//  Typography
//  --------------------------------------------------------------------------------

	$baseline:              1.75em;


//  Sizes --------------------------------------------------------------------------

	$font-size--body:       16px;
	$font-size--subhead:    1.175em;
	$font-size--head:       1.5em;






//  --------------------------------------------------------------------------------
//  Layout
//  --------------------------------------------------------------------------------

//  Breakpoints --------------------------------------------------------------------

	$breakpoint--xs:        30 * 16px;
	$breakpoint--s:         50 * 16px;
	$breakpoint--m:         66 * 16px;
	$breakpoint--l:         78 * 16px;

	$breakpoint--min:       22 * 16px;
	$breakpoint--max:       86 * 16px;


//  Z-index ------------------------------------------------------------------------