//  --------------------------------------------------------------------------------
//  thumbnail.scss
//  --------------------------------------------------------------------------------

//  Thumbnail





//  --------------------------------------------------------------------------------
//  Thumbnail
//  --------------------------------------------------------------------------------

//  Container ----------------------------------------------------------------------

	// a.thumbnail
	.thumbnail {
		display: block;
		margin-bottom: $baseline * math.div(3, 4);
		pointer-events: none;
		text-decoration: none;
	}


//  Text ---------------------------------------------------------------------------

	.thumbnail__text {
		pointer-events: all;
	}

	// Hover state
	.thumbnail {
		&:hover,
		&:focus {
			> .thumbnail__text {
				color: white;
				text-shadow: none;
				transition: color 0.2s ease-in-out 0.1s,
					text-shadow 0s linear 0.1s;
			}

			> .thumbnail__text::after {
				opacity: 1;
				transition-delay: 0.1s;
			}
		}
	}


//  Media --------------------------------------------------------------------------

	// Spacing between thumbnail text and media
	.thumbnail__media {
		margin-top: math.div($baseline, 4);
		pointer-events: all;
	}