// ---------------------------------------------------------------------------------
// _reset.scss
// ---------------------------------------------------------------------------------

// Reset and normalise styles
//  └─ Interactive elements

@use 'variable' as *;




// ---------------------------------------------------------------------------------
// Reset and normalise styles
// ---------------------------------------------------------------------------------

*:where(
	:not(html, iframe, canvas, img, svg, video, audio)
	:not(svg *, symbol *)
) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
}


// Interactive elements ------------------------------------------------------------

::selection {
	background-color: rgba(0, 0, 0, 0.1);
	color: $color--treetop-cathedral;
	text-shadow: none;
}

a,
button {
	cursor: pointer;
}

:focus {
	outline: 2px solid cyan;
	outline-offset: 3px;
}

@supports selector(:focus-visible) {
	:focus {
		outline: 0;
	}

	:focus-visible {
		outline: 2px solid cyan;
		outline-offset: 3px;
	}
}
