// ---------------------------------------------------------------------------------
// _variable.scss
// ---------------------------------------------------------------------------------

// Colors
// Typography
//  └─ Sizes
// Layout
//  ├─ Breakpoints
//  └─ Span sizes

@use 'function';




// ---------------------------------------------------------------------------------
// Colors
// ---------------------------------------------------------------------------------

// https://colornamer.robertcooper.me/

$color--treetop-cathedral: function.hsb(93, 84, 30);
$color--alto: function.hsb(0, 0, 85);
$color--tango: function.hsb(24, 90, 95);
$color--wild-sand: function.hsb(0, 0, 96);
$color--alabaster: function.hsb(0, 0, 99);




// ---------------------------------------------------------------------------------
// Typography
// ---------------------------------------------------------------------------------

$baseline: 1.525em;


// Sizes ---------------------------------------------------------------------------

$font-size--body: 18px;
$font-size--head: 1.5em;
$font-size--subhead: 1.175em;
$font-size--small: 0.875em;





// ---------------------------------------------------------------------------------
// Layout
// ---------------------------------------------------------------------------------

// Breakpoints ---------------------------------------------------------------------

$breakpoint--xs: 30 * $font-size--body;
$breakpoint--s: 50 * $font-size--body;
$breakpoint--m: 66 * $font-size--body;
$breakpoint--l: 72 * $font-size--body;
$breakpoint--xl: 80 * $font-size--body;

$breakpoint--min: 22 * $font-size--body;
$breakpoint--max: 86 * $font-size--body;
